.user-page-pic {
	height: 100px;
	width: auto;
	border-radius: 50%;
}

.text-container {
	display: flex;
	flex-direction: column;
	margin-left: 1em;
}

.user-information-container {
	display: flex;
	flex-direction: row;
	/* background-image: linear-gradient(#2241f2, transparent); */
	background: #2241f2;
	width: 60em;
	height: 20em;
	border-radius: 4em;
}

.user-info {
	display: flex;
	flex-direction: row;
	margin: 2em 0 0 2em;
}

.user-profile-container {
	position: absolute;
	top: 15%;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.user-tests-container {
	width: 55em;
	margin-top: 1em;
}

.user-tests-container > h2 {
	font-size: 32px;
}
