#modal {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#modal-background {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
	position: absolute;
	background-color: white;
	border-radius: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation: transform-up 0.3s;
}

#modal-content *:not(.btn):not(li) {
	color: #000;
}

.btn {
	border: none;
	background: #2241f2;
	color: #f2f2f2;
	border-radius: 15px;
	padding: 6px 15px;
	font-size: 16px;
	margin: 5px 10px;
}

.btn.white {
	background: #f2f2f2;
	border: 1px solid #000;
	color: #000;
}

.btn:hover {
	cursor: pointer;
}

@keyframes transform-up {
	0% {
		opacity: 0%;
		transform: translateY(1000px);
	}
	100% {
		opacity: 100%;
		transform: translateY(0px);
	}
}
