.confirm-remove-friend-modal * {
	color: #000;
}

.btn {
	color: #fff;
}

.btn.red {
	background: red;
}

.buttons-container {
	display: flex;
	justify-content: flex-end;
}

.buttons-container > * {
	margin-top: 15px;
}
