@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&family=Raleway:ital,wght@1,900&display=swap');

* {
	color: #f2f2f2;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'IBM Plex Sans', sans-serif;
}

.profile-dropdown {
	position: absolute;
	top: 75%;
	right: 0;
	list-style-type: none;
}

.np {
	padding: 0px;
}

.nm {
	margin: 0px;
}

input:not(.user-input) {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

.modal h1 {
	margin-bottom: 30px;
}

body {
	background-image: linear-gradient(#262626, #0d0d0d);
	background-color: #0d0d0d;
	height: 100vh;
	overflow: hidden;
}

.hero-logo {
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	color: #2241f2;
	text-decoration: none;
	font-size: 40px;
}

.nav-container {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	justify-content: space-between;
	align-items: center;
}

.links {
	display: flex;
	flex-direction: row;
}

.links > * {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.btn {
	border: none;
	background: #2241f2;
	color: #f2f2f2;
	border-radius: 15px;
	padding: 6px 15px;
	font-size: 16px;
	margin: 5px 10px;
}

.about {
	border: none;
	background: transparent;
	color: #f2f2f2;
	border-radius: 15px;
	padding: 6px 15px;
	font-size: 16px;
	margin: 5px 10px;
}

.about:hover {
	cursor: pointer;
}

.about-content {
	max-width: 40vw;
	min-width: 30vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-content a {
	width: auto;
	height: auto;
}

.about-content i {
	width: 70px;
	height: 70px;
}

.social-links {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 20px;
}

.btn:hover {
	cursor: pointer;
}

.btn-big {
	border: none;
	background: #2241f2;
	color: #f2f2f2;
	border-radius: 15px;
	padding: 10px 30px;
	font-size: 20px;
	margin: 5px 10px;
	margin-top: 30px;
}

.btn-big:hover {
	cursor: pointer;
}

.sign-up {
	padding: 6px 15px;
	font-size: 16px;
	margin: 5px 10px;
	text-decoration: none;
	color: #f2f2f2;
	background: transparent;
	border: none;
}

.sign-up:hover {
	cursor: pointer;
}

.hero-logo {
	animation: slide-d 2s;
}

@keyframes slide-d {
	0% {
		opacity: 0%;
		transform: translateY(-25px);
	}
	100% {
		opacity: 100%;
		transform: translateY(0px);
	}
}
